 body {
 	font-family: 1em/1.7em sans-serif;
 	background-color: #f9f9f9;
 }
 h1 {
 	margin: 1.5em 0 0;
 }
 h2 {
 	margin: 0.5em 0 2em;
 	padding-bottom: 0.5em;
 	font-size: 1.5em;
 	border-bottom: 1px solid #ccc;
 }
 h4 {
 	margin: 0 0 0.5em 0;
 }
 h3 {
 	margin: 0 0 1em;
 }
[ng-show="showResources"] h3 {
 	margin: 0;
} 
h5 {
	font-weight: bold;
}
a {
	cursor: pointer;
}
.content {
	margin-top: 3em;
	padding: 2.5em 2em;
	border: 1px solid #ddd;
	background-color: #fff;
}
.content p:first-child {
	margin: 2em;
	text-align: center;
	color: #999;
}
.content p:first-child strong {
	display: block;
	margin: 1em;
	font-size: 1.5em;
	color: #aaa;
	letter-spacing: 0.1em;
}
.content p:first-child strong span {
	color: #666;
}
form p {
	margin-top: 0.5em;
	color: #777;
}
p.error {
	margin: 1em 0;
	color: red;
	font-weight: bold;
}
.resources ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.resources li {
	margin: 0;
	padding: 0.5em;
	border-bottom: 1px solid #eee;
}
.resources li:hover {
	background-color: #f7f7f7;
}
.resources button {
	margin-left: 0.5em;
}
#addResource {
	margin: 1em 0 2em;
}
