<h3>Resources</h3>

<h5 ng-show="resources">List of resources for {{ categoryTitle || "this category"}}:</h5>
<form class="form-inline" id="addResource" ng-submit="createForm(false)">
	<input type="text" ng-model="title" id="resource_description" placeholder="Title Of Resource" class="form-control" />
	<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#resourceAttributes">Add Entity</button >
</form>
<p ng-hide="resources" class="alert alert-info">No resources in the category!</p>
<ul>
	<li ng-repeat="resource in resources track by $index">
		<!-- Button to make a call to receive a resource's details -->
		<button class="btn btn-sm btn-info pull-right" ng-click="getResourceDetails(resource)" data-toggle="modal" data-target="#resourceDetails">Details</button>

		<!-- Button to delete a resource -->
		<button class="btn btn-sm btn-danger pull-right" ng-click="deleteResource(resource)">Delete</button>

		<!-- Button to update a resource -->
		<button class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#resourceAttributes" ng-click="createForm(true)">Update</button>

		{{ resource }}
		
	</li>
</ul>
